[Desktop Entry]
Name=Vial
Comment=An open source wavetable synth with a lot of modulation
Comment[fr]=Un synthétiseur polyphonique libre avec un tas de module
GenericName=Synth
GenericName[fr]=Synthétiseur
Exec=vial
Icon=vial
Terminal=false
Type=Application
Categories=Audio;AudioVideo;
MimeType=text/vial;
